<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        body {
            font-family: "Poppins", -apple-system, system-ui, "BlinkMacSystemFont", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            color: #000000
        }

    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>Välkommen till TG-HATT!</title>
</head>
<body style="color: #000000;">
    <h1 style="margin: 0">Välkommen till TG-HATT!</h1>

    <p>
        Vi i klubbmästeriet är saligt taggade över att just DU vill gå på år 2021:s första tentagasque! Denna gasque kommer att ha en lite speciell utformning i jämförelse med de du är van vid, men det finns vissa saker vi inte tummar på, en av dessa är gyckel! Då schemat kommer se lite annorlunda ut är det extra viktigt att du anmäler gyckel i förväg för att vi ska få ihop det med den digitala logistiken på ett så smidigt sätt som möjligt.
    </p>

    <p>
        Temat denna eminenta afton kommer vara inget mindre än Hatt-tema! Under kvällen kommer ni att delas in i lag som kommer tävla i en poängjakt som kommer löpa parallellt med själva sittningen. Vi kommer även att utse kvällens bästa hatt så det är extra viktigt att klä sig med omsorg och eftertanke!
    </p>

    <p>
        För att byta Ändra i din anmälan trycker du här: <a href="{{ link }}">Ändra anmälan</a>. Där kan du exempelvis anmäla gyckel eller byta rum genom att redigera din anmälan.
    </p>

    <p>
        Har du fyllt i att du vill ha ett märke? Det kostar 20kr och betalning sker till fkm*s bankgiro 5942-8219 <b>senast 15/01</b>, skriv “TG2 förnamn efternamn” i meddelandet.
    </p>

    <p>
        Zoom-rummet öppnar 19:20 och vi kör igång 19:30 på den här länken! <a href="https://kth-se.zoom.us/j/67544511237">https://kth-se.zoom.us/j/67544511237</a>
    </p>

    <p>
        Vi ses då!<br>
        fkm* 2021
    </p>

    <p style="color: #444444; font-size: x-small">
        Du får detta mejl i egenskap av användare av Fysiksektionens anmälningssystem till TG-HATT. Samtliga personuppgifter lagras enligt vår personuppgiftspolicy som återfinns här: <a href="https://f.kth.se/personuppgifter">Personuppgiftspolicy</a>.
    </p>

</body>
</html>