<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        body {
            font-family: "Poppins", -apple-system, system-ui, "BlinkMacSystemFont", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            color: #ffddb3
        }

    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>Välkommen till Ettans aftongala!</title>
</head>
<body>
<div class="outer-div">
    <h1 style="margin: 0">Välkommen till Ettans aftongala!</h1>

    <p>
        Tack för att du fyllt i anmälan till Ettans aftongala. Mer information, ex. Zoom- och youtubelänk, inför kvällen kommer per mejl på lördag förmiddag.
    </p>

    <p>
        För att byta Zoom-rum i din anmälan trycker du här: <a href="{{ link }}">Byt rum</a>
    </p>

    <p style="color: #444444; font-size: smaller">
        Du får detta mejl i egenskap av användare av Fysiksektionens anmälningssystem <i>nØllesystemet</i>. Samtliga personuppgifter lagras enligt vår personuppgiftspolicy som återfinns här: <a href="https://f.kth.se/personuppgifter">Personuppgiftspolicy</a>.
    </p>
</body>
</html>