{% extends "fkm_tg_anmalan/base-sites/base-content.html" %}

{% load static %}

{% block title %}
    <div class="text-center">
        {{ site.texts.title }}
    </div>
{% endblock %}

{% block content-spanning %}
    <center>
        <img class="img-fluid" src="{% get_media_prefix %}{{ site.images.banner }}" alt="" style="z-index: -1; max-width:100%;"/>
    </center>
{% endblock %}

{% block content-indented %}
    {{ site.texts.valkommen_text|safe }}

    <div class="text-center d-flex justify-content-around m-5">
        <a class="btn btn-primary p-3 px-5 mt-5" href="{% url "rum" %}">
            Anmäl dig här!
        </a>
    </div>

    <div class="text-center d-flex justify-content-around m-5">
        <a class="btn btn-primary p-3 px-5" href="{% url "meny" %}">
            Till menyn
        </a>
    </div>
{% endblock %}